{%- from "apache/map.jinja" import apache with context -%}
# Managed by saltstack

# envvars - default environment variables for apache2ctl

# this won't be correct after changing uid
unset HOME

APACHE_CONFDIR=/usr/local/etc/apache24

export APACHE_RUN_USER={{ apache.user }}
export APACHE_RUN_GROUP={{ apache.group }}
export APACHE_RUN_DIR={{ salt['pillar.get']('apache:run_dir', '/var/run') }}

## The locale used by some modules like mod_dav
export LANG=en_US.UTF-8

{%- for envvar in salt['pillar.get']('apache:envvars', []) %}
{{ envvar }}
{%- endfor %}
