LoadModule php5_module /usr/local/libexec/{{ svcname }}/libphp5.so

DirectoryIndex index.html index.php

<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>
<FilesMatch "\.phps$">
    SetHandler application/x-httpd-php-source
</FilesMatch>
