{#- vi: set ft=jinja: #}

{%- import_yaml "apache/defaults.yaml" as default_settings %}
{%- import_yaml "apache/osfamilymap.yaml" as osfamilymap %}
{%- import_yaml "apache/oscodenamemap.yaml" as oscodenamemap %}
{%- import_yaml "apache/osfingermap.yaml" as osfingermap %}
{%- import_yaml "apache/modsecurity.yaml" as modsec %}

{%- set defaults = salt['grains.filter_by'](default_settings,
    default='apache',
    merge=salt['grains.filter_by'](modsec, grain='os_family',
      merge=salt['grains.filter_by'](osfamilymap, grain='os_family',
        merge=salt['grains.filter_by'](oscodenamemap, grain='oscodename',
          merge=salt['grains.filter_by'](osfingermap, grain='osfinger',
            merge=salt['pillar.get']('apache:lookup', default={})
          )
        )
      )
    )
) %}

{#- Merge the apache pillar #}
{%- set apache = salt['pillar.get']('apache', default=defaults, merge=True) %}
